* {
  box-sizing: border-box;
}

.wrapper {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(6, 50, 142, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.calculator {
  min-height: 70vh;
  display: grid;
  font-family: "Orbitron", sans-serif;
  border-radius: 26px;
  background: #cbb4c1;
  box-shadow: 28px 28px 79px #b92b77, -28px -28px 79px #23368a;
  gap: 5px;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator > div:not([name="text"]) {
  background-color: #343c6c;
  display: flex;
  padding: 5px;

  color: white;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.text {
  grid-column: span 4;

  font-size: 2rem;
  color: #343c6c;
}
.display {
  grid-column: span 4;

  height: 70px;
  background: linear-gradient(
    90deg,
    rgba(105, 103, 147, 1) 0%,
    rgba(93, 61, 94, 1) 37%,
    rgba(45, 46, 41, 1) 100%
  );
  border-style: double;
  justify-content: right !important;
}

.item21 {
  grid-column: span 2;
  padding: 0;
  /* background-color: rgb(99, 107, 128) !important; */
}
.btn-equals {
  background-color: rgb(99, 107, 128) !important;
  grid-column: span 2;
}
button {
  height: 100%;
  width: 100%;
  background-color: #343c6c;
  border-style: none;
  color: inherit;
  font-size: inherit;
}

.btn-ac,
.btn-c {
  background-color: rgb(147, 99, 10) !important;
}
